<h1><%= @provider.last_name %>'s Services</h1>
<br><br><br>

<% if @service %>

  <h3>My Service</h3>
  <p><%= @service.service_type %></p>
  <li><%= @service.description %></li>
  <br><br>
  <%= link_to 'Open Requests', provider_service_requests_path(@provider.id) %>
  <br><br>
  <%= link_to 'Edit or remove your service', edit_provider_service_path(@provider, @service)%>
  <br>

<% else %>

  <%= link_to 'Add your service here', new_provider_service_path(@provider) unless @provider.service%>

<% end %>
