<h1>Services</h1>
 <%= form_tag services_path, method: 'get'  do %>
   <%= text_field_tag :search, params[:search]%>
   <%= submit_tag "Search", name: nil  %>
 <% end %>

  <% @services.each do |service| %>
  <% next if service.user == current_user %>
    <ul>
      <li><%= service.service_type %></li>
      <ul>
        <li>
        <%= service.description %>

        <%= link_to 'Send Request', user_service_requests_path(service.user.id, :service_request => {provider_id: service.user.id, creator_id: current_user.id, service_id: service.id}), :remote => true, :method => :post %>
        </li>
      </ul>
    </ul>
  <% end %>