<h1>Services</h1>
 <%= form_tag services_path, method: 'get'  do %>
   <%= text_field_tag :search, params[:search]%>
   <%= submit_tag "Search", name: nil  %>
 <% end %>

  <% @services.each do |service| %>
  <% next if current_user.service == service %>
    <ul>
      <li>
        <%= service.service_type %> : average rating <%= service.average_rating %> : <%= service.review_count %> <%= link_to 'review(s)', service_reviews_path(service.id) %>
        <% if Service.highest_rated_services.include?(service) && service.review_count > 1 %>
          <strong>TOP RATED</strong>
        <% end %>
      </li>
      <ul>
        <li>
        <%= service.description %>

        <%= link_to 'Send Request', user_service_requests_path(service.user.id, :service_request => {user_id: current_user.id, service_id: service.id}), :remote => true, :method => :post %>
        </li>
      </ul>
    </ul>
  <% end %>