<% if @service %>

  <h3>My Service</h3>
  <p><%= @service.service_type %></p>
  <li><%= @service.description %></li>
  <br><br>
  <%= link_to 'Open Requests', user_service_requests_path(current_user.id) %> : <%= @service.open_requests_count %>
  <br><br>
  <%= link_to 'Reviews', service_reviews_path(@service.id) %> : <%= @service.review_count %>
  <br><br>
  <%= link_to 'Edit or remove your service', edit_service_path(@service.id)%>
  <br>

<% else %>

  <%= link_to 'Add your service here', new_user_service_path(current_user)%>

<% end %>

<footer>Provider Account</footer>